
body
{
  background-color: black;
  color:purple;
  margin:20px 20px;
  font-family: sans-serif;
  user-select: none;
}

a, a:link, a:visited, a:focus, a:hover, a:active{
  color:purple;
  text-decoration:none;
  cursor: pointer;
}

hr
{
  border-color:purple;
}

.clearfix
{
  clear:both;
}

.msg
{
    border-radius: 5px;
    padding:5px;
    background-color: white;
    margin-right:10px;
    margin-bottom:5px;
}

.noDisplay
{
  display: none;
}
