html
{
}

body
{
  background-color: black;
  color:purple;
  /* --margin:20px 20px; */
  font-family: sans-serif;
  user-select: none;
}

#root
{
  height:100%;
}

a, a:link, a:visited, a:focus, a:hover, a:active{
  color:purple;
  text-decoration:none;
  cursor: pointer;
}

hr
{
  border-color:purple;
}

.clearfix
{
  clear:both;
}

.msg
{
    border-radius: 5px;
    padding:5px;
    background-color: white;
    margin-right:10px;
    margin-bottom:5px;
}

.noDisplay
{
  display: none;
}

.opacityOn
{
  opacity: 1;
  transition: opacity 0.5s;
}

.opacityOff
{
  opacity: 0;
  transition: opacity 0.0s;
}

.mainContainer
{
  float:left;
  position:relative;
  left:50%;
}

.fixerContainer
{
  float:left;
  position:relative;
  left: -50%;
}

.flexFlowContainer {
  display: flex;
  flex-flow: column;
  height: 100%;
}
