//grid.scss



.cardContainer
{
  overflow: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .card
  {
    float:left;
    background-color: white;
    border-radius: 5px;
    padding:10px;
    margin:5px;
    display: inline-block;
  }
}


.cardContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .card {
    flex: 0 0 auto;
  }
}
