
.msg
{
    border-radius: 5px;
    padding:5px;
    float:left;
    background-color: white;
    margin-left:20px;
    margin-bottom:5px;
}

.header
{
  color: purple;

  hr
  {
    border-color:purple;
  }
}
